<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/squad.css">
  <title>필드</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div class="player-div">
        <span class="pos c">포수</span>
        <span class="pos b1">1루</span>
        <span class="pos b2">2루</span>
        <span class="pos b3">3루</span>
        <span class="pos ss">유격</span>
        <span class="pos lf">좌익</span>
        <span class="pos cf">중견</span>
        <span class="pos rf">우익</span>
        <span class="pos dh">지명</span>
    </div>
</body>